{{page-title "Home"}}

{{#if this.random.isRunning}}
  <div class="wrapper qa-loader">
    <Loading />
  </div>
{{else}}
  <Fact @data={{this.data}} />

  <button
    class="button qa-fact-btn"
    type="button"
    {{on "click" (perform this.random)}}
    {{on-key 'Enter'}}
    {{on-key 'Space'}}
  >
    <span class="red">see</span>&nbsp;<span class="white">more...</span>
  </button>
{{/if}}

<span class="white click-advice">
  Press "enter" or "space" for more facts!
</span>
